{% load static %}
<div style="width:300px">
    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <form 
            id="searchBar"
            hx-get="{% url 'search' %}"
            hx-target="#results"
            hx-trigger="input delay:300ms"
            onsubmit="event.preventDefault();">
            <input 
                type="text" 
                onblur=onBlur()
                onfocus=onFocus()
                name="search" 
                class="input-search" 
                placeholder="Search..." />
        </form>
    </div>
    <div id="results" class="position-fixed" style="width:300px;">
    </div>
</div>