{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    {% for artist in artist_list  %}
    {% if artist.album.all %}
    <h2>
        <a href="{% url 'artist_detail' artist.slug %}" class="text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover">
            {{ artist }}
        </a>
    </h2>
    <div class="d-flex flex-row flex-wrap">
        {% for album in artist.album.all %}
        <a href="{% url 'album_detail' album.artist.slug album.slug %}" class="link-underline-dark link-underline-opacity-0">
            <div class="card m-3" style="max-width: 14rem;">
                <div class="card-body p-0">
                    <img src="/{{ album.cover }}" alt="{{ album.title }}" class="rounded-top" style="height:190px; width: 190px" loading="lazy">
                </div>
                <div class="card-header">
                    <p class="m-0 text-truncate" style="max-width: 158px">{{ album.title }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
{% endblock content %}