{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
{% include 'partials/popup.html' %}
{% for artist in artist_list %}
{% if artist.album.all %}
<h2>
    <a id="{{ artist.slug }}" href="{% url 'artists:artist_detail' artist.slug %}"
        class="text-dark link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover" style="padding-top: 120px; outline: none;">
        {{ artist }}
    </a>
</h2>
{% include 'artists/artist_discography.html' %}
{% endif %}
{% endfor %}
{% endblock content %}