{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
<title>YourRadio - {{ artist }}</title>
{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-5 text-light m-1" style="min-width: 400px;">
        <div class="row bg-dark rounded mb-1 p-2">
            <img src="/{{ artist.photo }}" alt="{{ artist }}" class="rounded p-0">
        </div>
    </div>
    <div class="col-5 text-light m-1" style="min-width: 400px;">
        <div class="row bg-dark rounded p-2 mb-1">
            <div class="my-2">
                <h5 class="m-0">Artist</h5>
                <h3 class="m-0">{{ artist }}</h3>
            </div>
            {% if artist.type == 'b' %}
            <div class="my-2">
                <h5 class="m-0">Active years</h5>
                <h3 class="m-0">
                    {{ artist.start_year|date:"Y" }} -
                    {% if artist.end_year %}
                    {{ artist.end_year|date:"Y" }}
                    {% else %}
                    Present
                    {% endif %}
                </h3>
            </div>
            {% else %}
            <div class="my-2">
                <h5 class="m-0">Born</h5>
                <h3 class="m-0">
                    {{ artist.start_year|date:"d.m.Y" }}
                </h3>
            </div>
            <div class="my-2">
                {% if artist.end_year %}
                <h5 class="m-0">Died</h5>
                <h3 class="m-0">
                    {{ artist.end_year|date:"d.m.Y" }}
                </h3>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <h2 class="text-dark">Discography</h2>
        {% include 'artists/artist_discography.html' %}
    </div>
    {% include 'partials/popup.html' %}
    {% include '../comments/comment_section.html' with comments=comments %}
</div>
{% endblock content %}