.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  border-bottom: 1px #fff solid;
}

.input-search {
  height: 50px;
  width: 300px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: inherit;
  display: block;
  margin: auto;
  width: 40px;
  padding: 10px;
}

.float-button {
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #00000094;
  opacity: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}

.album-cover:hover .float-button,
.album-card:hover .float-button {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.add-button {
  background-color: #5abe6d;
}

.remove-button {
  background-color: #be5a5a;
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: auto;
  z-index: 100;
  width: 100px;
  height: 50px;
  animation: fadeInOutAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px #6c757d solid;
}

@keyframes fadeInOutAnimation {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}