<!DOCTYPE html>
<html lang="en" style="width:100vw; overflow-x: hidden;">
  <head>
    {% block title %}
      <title>YourRadio</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
      crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4e81b5bc51.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block nav %}
      <nav class="sticky-top text-white bg-dark">
        <div class="container">
          <div class="d-flex flex-row justify-content-between py-2">
            <div class="">
              <h2>
                <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'index' %}">YourRadio</a>
              </h2>
            </div>
            <div class="d-flex flex-row align-items-center">
              {% include 'partials/search.html' %}
              <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'index' %}">Home</a>
              <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'artists:artists' %}">Artists</a>
              <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'users:users' %}">Users</a>
              <p class="my-auto ms-3">|</p>
              {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                  {% csrf_token %}
                  <button type="submit" class="btn-link my-auto ms-3 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Logout</button>
                </form>
                <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'users:user_detail' user %}">
                  <img src="/{{ user.avatar }}" alt="{{ user }}" class="rounded-circle bg-light ms-2" width="30px">
                  {{ user.username }}
                </a>
              {% else %}
                <a class="my-auto ms-3 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                <a class="my-auto ms-2 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'users:register' %}">Sign up</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    {% endblock nav %}
    <div class="container mx-auto py-3" style="width:75%">
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
      <footer class="mt-auto text-center text-white bg-dark">
        <p class="my-auto p-2">Dawid Zawadzki</p>
      </footer>
    {% endblock footer %}
  </body>
</html>
