{% extends 'base_generic.html' %}


{% block content %}
<h3>Check out those albums:</h3>
<div class="d-flex flex-row flex-wrap">
    {% for album in album_list %}
        <a href="{% url 'album_detail' album.artist.slug album.slug %}" class="link-underline-dark link-underline-opacity-0">
            <div class="card m-3" style="max-width: 16rem;">
                <div class="card-body p-0">
                    <img src="/{{ album.cover }}" alt="{{ album.title }}" class="rounded-top" style="height:250px; width: 250px">
                </div>
                <div class="card-header">
                    <p class="m-0 text-truncate" style="max-width: 200px;">{{ album.title }}</p>
                    <p class="m-0">{{ album.artist }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}